body {
    font-family: 'Comic Sans MS', 'sans-serif';
}

section {
    text-align: center;
}

.gameContainer {
    display: grid;

    grid-template-columns: repeat(3, auto);
    width: 340px;
    height: 340px;
    margin: 50px auto;
}

.cell {
    font-family: "Comic Sans MS", cursive;
    width: 100px;
    height: 100px;

    box-shadow: 1px 2px 30px 4px pink;
    border: 3px solid black;
    cursor: crosshair;
    line-height: 100px;
    font-size: 60px;
}

